<div class="card">
  <p-toast></p-toast>

  <p-toolbar styleClass="mb-0 gap-2 flex justify-content-between">
    <ng-template pTemplate="left"> </ng-template>
    <ng-template pTemplate="right"
      ><button
        pButton
        pRipple
        label="Novo"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="cars"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['marca', 'modelo', 'cor', 'user.nome']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedCars"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} items"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h2 class="m-0">Carros</h2>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target)['value'], 'contains')"
            placeholder="Pesquisa..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
        </th>
        <th pSortableColumn="marca" style="min-width: 15rem">
          Marca <p-sortIcon field="marca"></p-sortIcon>
        </th>
        <th pSortableColumn="modelo" style="min-width: 15rem">
          Modelo <p-sortIcon field="modelo"></p-sortIcon>
        </th>
        <th pSortableColumn="cor">Cor <p-sortIcon field="cor"></p-sortIcon></th>
        <th pSortableColumn="motorista" style="min-width: 15rem">
          Motorista <p-sortIcon field="motorista"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>
          <!-- <p-tableCheckbox [value]="car"></p-tableCheckbox> -->
        </td>
        <td>{{ car.marca }}</td>
        <td>{{ car.modelo }}</td>
        <td>{{ car.cor }}</td>
        <td>{{ car.user.nome }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editCar(car)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteCar(car)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total de {{ cars ? cars.length : 0 }} carros cadastrados.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="carDialog"
  [style]="{ width: '450px' }"
  header="Dados do carro"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field mb-4">
      <label for="marca">Marca</label>
      <input type="text" id="marca" [(ngModel)]="car.marca" pInputText />
    </div>
    <div class="p-field mb-4">
      <label for="modelo">Modelo</label>
      <input type="text" id="modelo" [(ngModel)]="car.modelo" pInputText />
    </div>
    <div class="p-field mb-4">
      <label for="cor">Cor</label>
      <input type="text" id="cor" [(ngModel)]="car.cor" pInputText />
    </div>
    <div class="p-field mb-4">
      <label for="motorista">Motorista</label>
      <p-dropdown
        [options]="drivers"
        [(ngModel)]="car.user"
        optionLabel="label"
        appendTo="body"
      ></p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveCar()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
